// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(40, 135, 236);
$dark-blue: rgb(33, 114, 201);
$yellow: #FFC65A;
$orange: #fd9942;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$body: white;

