.navbar{
  background-color: $body;
  display: flex;
  position: fixed;
  width: 100%;
  height: 10vh;
  padding: 0 5vw;
}

.navbar-left{
  // background-color: green;
  text-align: left;
}

.navbar-right{
  // background-color: blue;
  text-align: right;
}

.nav-link{
  color: $black;
}
